h1 {
  text-align: center;
}


#potato {
  position: relative;
  width: 367px;
  height: 500px;
  border: 2px solid black;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
}

#potato img {
  position: absolute;
}

/* Insert CSS for body below this line*/
#body { 
  top: 28px; left: 68px; 
}
/* Insert CSS for arms below this line*/




/* Insert CSS for ears below this line*/




/* Insert CSS for eyes below this line*/




/* Insert CSS for mouth below this line*/




/* Insert CSS for nose below this line*/




/* Insert CSS for eyebrows below this line*/




/* Insert CSS for glasses below this line*/




/* Insert CSS for stunner shades below this line*/




/* Insert CSS for hat below this line*/




/* Insert CSS for baseball cap below this line*/




/* Insert CSS for arms below this line*/




/* Insert CSS for moustache below this line*/




/* Insert CSS for shoes below this line*/




/* Insert CSS for cane below this line*/




/* Insert CSS for left earring below this line*/




/* Insert CSS for right earring below this line*/




/* Insert CSS for arms below this line*/




/* Insert CSS for hatflower below this line*/




/* Insert CSS for boosters below this line*/



